.arrow {
    display: inline-block;
    min-width: 18px;
    min-height: 40px;
}

.arrow svg {
    width: 18px;
    height: 34px;
}

.arrow svg .cls-1, .arrow svg .cls-2, .arrow svg .cls-1 {
    fill: #1a1a1a;
}

.arrow.current .cls-1, .arrow.current .cls-2, .arrow.current .cls-3 g path {
    fill: #FF5D55!important;
}
